.description__profil {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 70%;
    background: #fff;
    width: 50%;
    padding: 23px 12px 0px 12px;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
.info {
    margin: 5% auto;
}
.profile-title span {
    font-weight: 300;

}
.profile-title   {
    font-size: 36px;
    line-height: 1.1;
  
    font-weight: 700;
    margin-bottom: 5px;
}

.profile-preword {
    background: #4688b8;
    display: table;
    padding: 5px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
}
.profile-preword:before {
    content: '';
    width: 0;
    display: block;
    height: 0;
    top: 100%;
    left: 5px;
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 0 0 8px 8px;
    border-color: transparent;
    border-left-color: #4688b8;
}
.info a {
    color: #000;
    text-decoration: none;
}
.profile-social {
    padding: 25px;
    background: #54a4db;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.profile-social span a {
    background: #54a4db;
    width: 50px;
    color: #fff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    font-size: 34px;
    text-decoration: none;
}
.profile-social span a:hover {
    background: #0e0f32;
   
}
.profil img {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
@media(max-width:991px){
    .profil img {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    .description__profil {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 70%;
        background: #fff;
        width: 92%;
        padding: 23px 12px 0px 12px;
        border-radius: 5px;
        margin: 0 auto;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    }
}
@media(max-width:767px){
    .profil img {
        width: 196px;
        text-align: center;
        margin: 0 auto;
    }
    .description__profil {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 79%;
        background: #fff;
        width: 94%;
        padding: 23px 12px 0px 12px;
        border-radius: 5px;
        margin: 0 auto;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    }
}
